/* .slide-container .prev,
.slide-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.slide-container .prev {
    left: 2px;
}

.slide-container .next {
    right: 2px;
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.dots-container .dot {
    cursor: pointer;
    margin: 5px;
    width: 20px;
    height: 20px;
    color: #333;
    border-radius: 50%;
    background-color: #dfd6ce;
}

.dots-container .dot.active {
    border: 2px solid green;
} */

#myCarousel-indicators>li {
    border-radius: 50%;
}