      * {
      marg in: 0;
      box- sizing: border-box;
      padd ing: 0;
  }
  
  body {
      widt h: 100%vw;
      heig ht: 100%vh;
      font -family: 'Ubuntu', 'Montserrat', sans-serif;
      padding-top: -3rem;
  }
  /* =  ==============Landing Page1 ===================== */
  /*** **** Nav*****/
  
  .nav bar-toggler {
      disp lay: none;
  }
  
  nav {
      widt h: 100%;
      heig ht: auto;
      disp lay: flex;
      just ify-content: space-between;
      padd ing: 12px 70px;
      align-items: center;
      bord er-bottom: 1px solid rgb(206, 206, 206);
      box- shadow: 1px 1px 1px rgb(223, 219, 219);
  }
  
  .top nav {
      disp lay: flex;
      text -decoration: none;
      width: 100%;
      back ground-color: rgb(255, 255, 255);
      text -decoration: none;
  }
  
  .nav -list {
      padd ing-top: 18px;
  }
  
  .ima ge-logo {
      alig n-items: center;
      disp lay: flex;
  }
  
  .log o1 {
      marg in-top: 10px;
      marg in-right: -15px;
  }
  
  .logo2 {
      marg in-right: 15px;
  }
  
  .topnav li {
      list -style: none;
      marg in-left: 20px;
      font -size: 14px;
  }
  
  li a {
      text -decoration: none;
      font-style: normal;
      font -weight: 500;
      font -size: 14px;
      line -height: 16px;
      lett er-spacing: 0.02em;
      colo r: #2D6936;
  }
  
  .nav -list {
      disp lay: flex;
      marg in-right: 150px;
  }
  /*Ha  mburger icon*/
  
  .bur ger {
      display: none;
      curs or: pointer;
  }
  
  .burger div {
      widt h: 25px;
      heig ht: 3px;
      bord er-radius: 1px;
      background-color: #2D6936;
      ;
      marg in: 5px;
      tran sition: all 0.3s ease;
  }
  /* L    anding PageOne */
  
  .car ousel-indicators {
      posi tion: relative;
      top: 450px;
      left: -415px;
  }
  
  .car ousel-indicators li {
      bord er-radius: 50%;
      width: 12px;
      heig ht: 12px;
      back ground-color: #404040;
  }
  
  .bd- placeholder-img {
      font -size: 1.125rem;
      text -anchor: middle;
      -webkit-user-select: none;
      -moz -user-select: none;
      user -select: none;
  }
  
  body {
      padd ing-bottom: 3rem;
      colo r: #5a5a5a;
  }
  /* C    USTOMIZE THE CAROUSEL --------------------------------------------------
*/
  /* C  arousel base class */
  
  .car ousel {
      marg in-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  
  .car ousel-caption {
      bott om: 10rem;
      z-in dex: 10;
  }
  /* D   eclare heights because of positioning of img element */
  
  .carousel-item {
      heig ht: 32rem;
  }
  
  .carousel-item>img {
      posi tion: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      heig ht: 32rem;
  }
  
  .landing-background {
      heig ht: 633px;
      disp lay: flex;
      widt h: 100%;
      align-items: center;
      marg in: 0px auto;
      padd ing: 0 100px;
  }
  
  .col lapse {
      disp lay: none;
  }
  
  .lan ding-content {
      widt h: 90%;
      marg in-top: -240px;
      letter-spacing: 52%;
  }
  
  .lan ding-content h1 {
      font -family: 'Ubuntu';
      font -weight: normal;
      font -size: 53px;
      line-height: 50px;
      lett er-spacing: -0.035em;
      colo r: #2D6936;
  }
  
  .lan ding-content p {
      font -family: 'Montserrat';
      font -weight: normal;
      font-size: 13px;
      line -height: 150%;
      lett er-spacing: -0.5px;
      colo r: #4A4A4A;
  }
  
  butt on {
      back ground: linear-gradient(90deg, #2D6936 -6.45%, #00A419 95.97%);
      curs or: pointer;
  }
  
  .btn {
      colo r: white;
  }
  
  .fa-arrow-right {
      marg in-left: 10px;
  }
  
  .landing-image {
      heig ht: 500px;
  }
  
  .girl-bg {
      widt h: 550px;
      heig ht: 580px;
      marg in-top: -150px;
  }
  /* L    anding PageTwo */
  
  .lan ding-background-Two {
      background: url(img/Rectangle\ 7.png);
      heig ht: 603px;
      disp lay: flex;
      widt h: 100%;
      alig n-items: center;
      padd ing: 0 12px;
  }
  
  .landing-content-Two {
      marg in-top: -100px;
      widt h: 100%;
  }
  
  .lan ding-content-Two h1 {
      font -family: 'Ubuntu';
      font-weight: normal;
      font -size: 53px;
      line -height: 50px;
      lett er-spacing: -0.035em;
      color: white;
  }
  
  .lan ding-content-Two p {
      font -family: 'Montserrat';
      font -weight: normal;
      font -size: 13px;
      width: 60%;
      line -height: 150%;
      lett er-spacing: -0.5px;
      colo r: #fff;
  }
  
  butt on {
      back ground: linear-gradient(90deg, #2D6936 -6.45%, #00A419 95.97%);
      cursor: pointer;
  }
  
  .btn {
      color: white;
  }
  
  .fa- arrow-right {
      margin-left: 10px;
  }
  
  .lan ding-image2 img {
      width: 570px;
      heig ht: 570px;
      marg in-top: -30px;
      marg in-left: 80px;
  }
  /* L    anding PageThree */
  
  .lan ding-background-Three {
      background: #fff;
      bord er-radius: 20px 0px;
      heig ht: 453px;
      disp lay: flex;
      widt h: 100%;
      just ify-items: center;
      alig n-items: center;
      margin: 0 auto;
  }
  
  .lan ding-content-Three {
      margin-left: 210px;
      marg in-top: -130px;
      widt h: 100%;
  }
  
  .lan ding-content-Three h1 {
      font -family: 'Ubuntu';
      font -weight: normal;
      font-size: 53px;
      line -height: 50px;
      lett er-spacing: -0.035em;
      colo r: #868686;
      marg in-top: -10px;
  }
  
  .landing-content-Three h6 {
      font -family: 'Montserrat';
      font -weight: normal;
      font -size: 26px;
      line -height: 150%;
      lett er-spacing: -0.5px;
      colo r: #000000;
  }
  
  .lan ding-content-Three p {
      font -family: 'Montserrat';
      font -weight: normal;
      font-size: 13px;
      widt h: 60%;
      line -height: 150%;
      lett er-spacing: -0.5px;
      color: #000000;
  }
  
  butt on {
      background: linear-gradient(90deg, #2D6936 -6.45%, #00A419 95.97%);
      curs or: pointer;
  }
  
  .btn {
      colo r: white;
  }
  
  .fa-arrow-right {
      marg in-left: 10px;
  }
  
  .lan ding-image3 img {
      widt h: 370px;
      heig ht: 570px;
      marg in-top: -290px;
      margin-right: 150px;
  }
  /* L  anding PageFour */
  
  .lan ding-background-Four {
      heig ht: 553px;
      back ground: #EBEBEB;
      border-radius: 0px 0px 0px 50px;
  }
  
  .lan ding-background-PageFour {
      disp lay: flex;
      just ify-content: center;
      marg in-top: 20px;
  }
  
  .lan ding-background-Four h1 {
      padd ing-top: 30px;
      text -align: center;
      font-family: 'Montserrat';
      font -size: 44px;
      line -height: 150%;
      colo r: #DB7600;
      letter-spacing: -0.5px;
  }
  
  .lan ding-content-Four-One {
      width: 347px;
      heig ht: 295px;
      back ground: #FFFFFF;
      box- shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
      bord er-radius: 15px 15px 15px 50px;
      marg in-right: 30px;
  }
  
  .lan ding-content-Four-Two {
      widt h: 347px;
      heig ht: 295px;
      background: #FFFFFF;
      box- shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
      bord er-radius: 15px 50px 15px 15px;
      marg in-left: 30px;
  }
  
  .Pag eFour-Content {
      marg in-left: 33px;
  }
  
  .Pag eFour-Content h6 {
      font -family: 'Ubuntu';
      font -weight: 500;
      font -size: 12px;
      line -height: 21px;
      padd ing-left: 10px;
      color: #FFFFFF;
      back ground-color: #FFCB59;
      marg in-top: 30px;
      widt h: 37%;
  }
  
  .Pag eFour-Content h5 {
      font-family: 'Montserrat';
      font -weight: 600;
      font -size: 12px;
      widt h: 70%;
      lett er-spacing: 0.06em;
      colo r: #000000;
      marg in-top: 10px;
  }
  
  .Pag eFour-Content p {
      font -family: 'Montserrat';
      font -weight: 300;
      font-size: 10px;
      widt h: 70%;
      colo r: #000000;
      marg in-top: 10px;
  }
  
  @med ia screen and (max-width: 1000px) {
      .burger {
          disp lay: block;
      }
      .nav -list {
          display: none;
      }
      .gir l-bg {
          widt h: 550px;
          height: 580px;
      }
      .lan ding-background {
          padd ing: 0px 18px;
      }
      .lan ding-content {
          marg in-left: 40px;
      }
      .carousel-indicators {
          top: 450px;
          left: -380px;
      }
      .landing-content-Three {
          marg in-left: 90px;
          marg in-top: -60px;
          widt h: 100%;
      }
      .lan ding-image3 img {
          widt h: 370px;
          heig ht: 570px;
          margin-top: -290px;
          marg in-right: 100px;
      }
  }
  
  @med ia screen and (max-width: 990px) {
      .gir l-bg {
          width: 550px;
          heig ht: 580px;
      }
      .lan ding-background {
          padding: 0px;
      }
      .lan ding-content {
          marg in-left: -20px;
      }
      .car ousel-indicators {
          top: 450px;
          left: -340px;
      }
      .lan ding-image2 img {
          widt h: 500px;
          heig ht: 500px;
          marg in-top: -30px;
          marg in-left: -5px;
      }
      .landing-content-Two {
          marg in-top: -5px;
      }
      .lan ding-content-Two p {
          width: 90%;
      }
  }
  
  @media screen and (max-width: 966px) {
      .lan ding-image3 img {
          marg in-right: 40px;
      }
  }
  
  @med ia screen and (max-width: 908px) {
      .lan ding-content-Three {
          margin-left: 50px;
      }
      @med ia screen and (max-width: 864px) {
          .lan ding-content-Three {
              margin-left: 60px;
          }
          .lan ding-image3 img {
              marg in-right: 20px;
          }
      }
      @med ia screen and (max-width: 858px) {
          .lan ding-content-Three {
              margin-left: 40px;
          }
          .lan ding-image3 img {
              marg in-right: 1px;
          }
      }
      @med ia screen and (max-width: 780px) {
          nav {
              padd ing: 12px 25px;
          }
      }
      @med ia screen and (max-width: 767px) {
          .gir l-bg {
              widt h: 500px;
              heig ht: 500px;
              margin-left: -30px;
          }
          .lan ding-background {
              padd ing: 0px 30px;
          }
          .lan ding-content {
              marg in-left: -110px;
          }
          .carousel-indicators {
              left: -315px;
          }
          .lan ding-image2 img {
              width: 450px;
              heig ht: 450px;
              marg in-top: -30px;
              marg in-left: -10px;
          }
          .lan ding-content-Two {
              marg in-top: -5px;
          }
          .landing-content-Two p {
              widt h: 90%;
          }
      }
      @med ia screen and (max-width: 715px) {
          .gir l-bg {
              widt h: 500px;
              height: 500px;
              marg in-left: -50px;
          }
          .car ousel-indicators {
              left: -300px;
          }
          .lan ding-image2 img {
              widt h: 450px;
              heig ht: 450px;
              marg in-top: -30px;
              marg in-left: -30px;
          }
      }
      @med ia screen and (max-width: 681px) {
          .car ousel-indicators {
              left: -300px;
          }
          .gir l-bg {
              widt h: 450px;
              height: 450px;
              marg in-left: -20px;
              marg in-top: -100px;
          }
          .lan ding-content {
              padd ing-left: 20px;
          }
          .car ousel-indicators {
              left: -290px;
          }
          .lan ding-image2 img {
              marg in-top: -30px;
              margin-left: -50px;
          }
      }
      @med ia screen and (max-width: 649px) {
          .carousel-indicators {
              left: -300px;
          }
          .gir l-bg {
              width: 350px;
              heig ht: 350px;
              marg in-left: -10px;
              marg in-top: -85px;
          }
          .lan ding-content {
              padd ing-left: 50px;
          }
          .car ousel-indicators {
              left: -255px;
          }
          .landing-image2 img {
              widt h: 400px;
              heig ht: 400px;
              marg in-top: -30px;
              margin-left: -50px;
          }
          .lan ding-content-Two {
              marg in-left: -100px;
              width: 70%;
              marg in-top: -15px;
          }
      }
      @med ia screen and (max-width: 599px) {
          .car ousel-indicators {
              left: -300px;
          }
          .landing-background {
              disp lay: grid;
              marg in-left: 30px;
          }
          .lan ding-content {
              marg in-top: 10px;
          }
          .carousel-indicators {
              left: -230px;
              top: 510px;
          }
          .lan ding-background-Two {
              disp lay: flex;
              flex -direction: column;
          }
      }
      @med ia screen and (max-width: 521px) {
          .car ousel-indicators {
              left: -220px;
              top: 540px;
          }
      }
      @med ia screen and (max-width: 501px) {
          .car ousel-indicators {
              left: -210px;
              top: 540px;
          }
      }
      @med ia screen and (max-width: 475px) {
          .car ousel-indicators {
              left: -190px;
              top: 540px;
          }
      }
      @media screen and (max-width: 435px) {
          .car ousel-indicators {
              left: -170px;
          }
      }
      @med ia screen and (max-width: 399px) {
          .car ousel-indicators {
              left: -150px;
          }
      }
      @med ia screen and (max-width: 399px) {
          .car ousel-indicators {
              left: -150px;
          }
          .gir l-bg {
              marg in-left: -40px;
              marg in-top: -90px;
          }
          .lan ding-content {
              marg in-top: -8px;
          }
          nav {
              padd ing: 12px 10px;
          }
          butt on {
              back ground: linear-gradient(90deg, #2D6936 -6.45%, #00A419 95.97%);
              curs or: pointer;
              width: 100px;
              heig ht: 30px;
          }
          .btn {
              font -size: 10px;
          }
      }
      @med ia screen and (max-width: 351px) {
          .carousel-indicators {
              left: -100px;
          }
          .gir l-bg {
              width: 300px;
              heig ht: 300px;
              marg in-left: -40px;
              marg in-top: -50px;
          }
          .lan ding-content {
              padd ing-left: 70px;
              marg in-top: -8px;
          }
          nav {
              padd ing: 12px 10px;
          }
          .landing-content h1 {
              marg in-top: 5px;
              font -size: 31px;
              line -height: 33px;
              letter-spacing: -0.035em;
              colo r: #2D6936;
          }
          .lan ding-content-Two {
              marg in-left: -100px;
              widt h: 70%;
              marg in-top: -50px;
          }
      }